<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{{>layout/header}}

{{#member}}
<form class="container" action="/member/update" method="post">
    <input type="hidden" name="id" value="{{id}}">
    <div class="mb-3">
        <label>이메일</label>
        <input type="email" class="form-control" name="email" value="{{email}}">
    </div>
    <div class="mb-3">
        <label>비밀번호</label>
        <input type="password" class="form-control" name="password" value="{{password}}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/welcome">Back</a>
</form>
{{/member}}

{{>layout/footer}}

</body>
</html>